.center {
/*  display: block;*/
  margin-left: auto;
  margin-right: auto;
/*  width: 15%;*/
}
.error {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}
body {
  padding: 10px;
  text-align: center;
}
